<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>新闻中心</title>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS ;?>bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS ;?>base.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS ;?>public.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS ;?>content.css"/>


<style type="text/css">

</style>

</head>

<body>
<include file="Public/head"/>
	<!--***************************内容*********************************-->
	<div class="content cent">
		<div class="news">
			<div class="title overf">
				<div class="title_head fleft">
					<p>新闻中心</p>
					<span>News Center</span>
				</div>
				<div class="sub_nav fleft">
					<ul>					<volist name="newsnav" id="vo1">						<li <if condition="$vo1.id eq $news_id">id="sub_nav_first"<elseif condition="$vo1.name eq $b" />class="last"</if>><a href="{:U('News/news?id='.$vo1['id'])}">{$vo1.name}</a></li>					</volist>
					</ul>
				</div>
				<div class="local fright">
					<img src="<?php echo __IMG ;?>locol.png" alt="" />
					| <a href="__MODULE__/Index/index">首页</a> | <a href="__MODULE__/News/news">新闻中心</a> | <a href="__MODULE__/News/news">品牌新闻</a>
				</div>
			</div>
			<div class="box_blur blur"></div>
			<div class="box">
				<div class="article">
					<ul class="news_li">					<volist name="news" id="vo2">
						<li><a href="{:U('News/news_center?n_id='.$vo2['id'].'&nav_id='.$news_id)}">{$vo2.title}</a><span>{$vo2.date}</span></li>					</volist>
					</ul>
					<div class="page row">
						<div class=" col-md-3 col-sm-2"></div>
						<div class=" col-md-6 col-sm-8">						<a href="{:U('News/news?page='.$pageup.'&'.$param)}">上一页</a>							<for start="1" end="$totalpage">								<if condition="$page eq $i">									<a id="page_now">{$i}</a>								<else />									<a href="{:U('News/news?page='.$i.'&'.$param)}">{$i}</a>								</if>							</for>							<a href="{:U('News/news?page='.$pagedown.'&'.$param)}">下一页</a>
						</div>						
						<div class=" col-md-3 col-sm-2"></div>
					</div>	
				</div>	
			</div>
		</div>
	</div>
<include file="Public/foot"/>
