<!--***************************底部*********************************-->

	<div class="footer">

		<span>CopyRight © 2003-2016&nbsp;&nbsp;Jimson&nbsp;&nbsp;collection服装有限公司&nbsp;&nbsp;版权所有</span>

	</div>

</body>

<script src="<?php echo __JS ;?>jquery-1.7.js" type="text/javascript" ></script>

<script src="<?php echo __JS ;?>bootstrap.min.js" type="text/javascript" ></script>

<script src="<?php echo __JS ;?>swiper.jquery.js" type="text/javascript" ></script>

<script src="<?php echo __JS ;?>show.js" type="text/javascript" ></script>
</html>