<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>支付页</title>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>base.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>public.css"/>
<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>vip.css"/>


<style type="text/css">
	
</style>

</head>

<body>
<!--***************************头部*********************************--><include file="Public/head"/>
	<!--***************************内容*********************************-->
	<div class="content cent">
		<div class="vip_center">
			<div class="title overf">
				<div class="title_head fleft">
					<p>会员中心</p>
					<span>Member Center</span>
				</div>
				<div id="vip" class="sub_nav fleft">
					<ul>
						<li><a href="__MODULE__/User/vip_center/">会员首页</a></li>						<li><a href="__MODULE__/User/vip_information">个人资料</a></li>						<li><a href="__MODULE__/User/my_order">订单中心</a></li>						<li class="last" id="sub_nav_first"><a href="__ACTION__/User/shopping_cart">购物车</a></li>
					</ul>
				</div>
				<div class="box_logo fright">
					<img src="<?php echo __IMG?>logo.png"/>
				</div>
			</div>
			<div class="box_blur blur"></div>
			<div class="box">
				<div class="article">
					<div class="article_title">
						<p>付款</p>
					</div>
					<div class="inbox">
						<div class="pay overf">
							<p>订单金额：<span id="price">{$price}</span>元</p>
							<form class="pay_way" method="post" action="{:U('Submit/submit_success')}" onsubmit=" return check()">								<input type="hidden" name="price" value="{$price}">
								<input type="hidden" name="order_num" value="{$order_num}">								<span>请选择支付方式：</span>							
								<div>
									<label class="check">
										<input type="radio" name="way" value="1"/> <span>支付宝</span>
									</label>
								</div>
								<div class="fleft">
									<ul class="overf">
									</ul>
									
								</div>								
														
							<div>								
								<input type="submit" id="btn" class="submit" value="确认支付">
							</div>
						</div>				</form>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--***************************底部*********************************-->
	<include file="Public/foot"/><script>function check(){	var radio1=$('input[type="radio"]:checked').val();	if(radio1!='1'){		  alert("请选择支付方式");		  return false;	  } }      </script>
