<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

<title>修改密码</title>

<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>bootstrap.css"/>

<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>base.css"/>

<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>public.css"/>

<link rel="stylesheet" type="text/css" href="<?php echo __CSS?>vip.css"/>





<style type="text/css">

	

</style>



</head>



<body>
<include file="Public/head" />

	<!--***************************内容*********************************-->

	<div class="content cent">

		<div class="vip_center">

			<div class="title overf">

				<div class="title_head fleft">

					<p>会员中心</p>

					<span>Member Center</span>

				</div>

				<div id="vip" class="sub_nav fleft">

					<ul>

						<li><a href="__MODULE__/User/vip_center/">会员首页</a></li>

						<li id="sub_nav_first"><a href="__ACTION__/User/vip_information">个人资料</a></li>

						<li><a href="__MODULE__/User/my_order">订单中心</a></li>

						<li class="last"><a href="__MODULE__/Product/shopping_cart">购物车</a></li>

					</ul>

				</div>

				<div class="box_logo fright">

					<img src="<?php echo __IMG?>logo.png"/>

				</div>

			</div>

			<div class="box_blur blur"></div>

			<div class="box">

				<div class="article">

					<div class="article_title">

						<p>修改密码</p>

					</div>

					<div class="inbox">

						<form class="change_password form-horizontal overf">

							<div class="overf">

								<span>原始密码：</span><input type="password" class="form-control" name="password" />

							</div><span>请输入你的登陆密码</span>

							<div class="overf">

								<span>新密码：</span><input type="password" class="form-control" name="password1" />

							</div><span>6-16个字符，需使用字母、数字或符号组合，不能使用纯数字、字母符号</span>

							<div class="overf">

								<span>确认密码：</span><input type="password" class="form-control" name="password2" />

							</div><span>请再次输入密码</span>

							<input type="button" class="submit" value="提交" id="btn"/>

						</form>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!--***************************底部*********************************-->
<include file="Public/foot"/>
<script>
$('#btn').click(function(){
	var pass=$('input[name="password"]').val();
	if($.trim(pass)==''){
		alert('原始密码不能为空！！！');
		return false;
		}
	var pass1=$('input[name="password1"]').val();
	var preg=/(?=.*[a-zA-Z])(?=.*[\d])[\w\W]{6,16}/;
	if($.trim(pass1)==''){
		alert('新密码不能为空！！！');
		return false;
		}else if(!(preg.test(pass1))){
				alert('密码必须6-16个字符，使用字母、数字或符号组合，不能使用纯数字、字母符号');
				return false;
			}
	var pass2=$('input[name="password2"]').val();
	if($.trim(pass2)==''){
		alert('确认密码不能为空！！！');
		return false;
		}
	$.post('{:U("User/change_password")}',{pass:pass,pass1:pass1,pass2:pass2},function(data){
			if(data=='1'){
				alert('密码修改成功，正是返回用户中心');
				location.assign('{:U("User/vip_information")}');
			}else if(data=='-1'){
				alert('原始密码错误，请重新填写');
				location.reload();
			}else if(data=='-2'){
				alert('两次密码输入不一致请重新输入');
				location.reload();
			}
		},'json')
})





</script>
