<html class="off">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__COMMON__css/style.css">
<title>编辑角色</title>
</head>
<body scroll="no">
	<div class="right_main">
		<div id="J_rframe" class="rframe_b">
			<div class="subnav"><h1 class="title_2 line_x">编辑角色</h1></div>
		<form id="form" action="{:U('Power/edit')}" method="post">
			<input type="hidden" name="id" value="{$data['id']}">
				<div class="pad_lr_10">
					<div class="col_tab">
						<div class="J_panes">
							<div class="content_list pad_10" style="display: block;">
								<table width="100%" cellpadding="2" cellspacing="1" class="table_form">
									<tbody>
										<tr>
											<th>角色名称 :</th>
											<td>
												<input type="text" name="name" value="{$data['name']}" id="J_title" placeholder="请填写管理员名称" class="input-text" size="30">
											</td>
										</tr>
										<!--id="a{$vo.id}" class="a{$vo.id}" 表示当前选择下的checkbox相应的属性,必须一致，否知无法识别是那个分类下的checkbox-->
										<tr>
											<th>角色权限 :</th>
										</tr>
										<tr>
											<th></th>
											<td>
											<volist name="data1" id="vo">
												<h3><input type="checkbox" id="a{$vo.id}" onclick='change({$vo.id})'/>{$vo.name}</h3>
												<volist name="vo['son']" id="v">
													<input type="checkbox" class="a{$vo.id}" <if condition="in_array($v['id'],$a)">checked</if> name="power[]" value="{$v.id}" style="margin-left:20px;"/>{$v.name}
												</volist> 
											</volist>
											</td> 
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="mt10">
							<input type="button" id="btn" value="提&nbsp;&nbsp;交" class="btn btn_submit">
						</div>
					</div>
				</div>
	</form>
		</div>
	</div>
<script src="__COMMON__js/jquery.js"></script>
<script>
function change(id){
	if($('#a'+id).attr('checked')=='checked'){
		$('.a'+id).attr('checked','checked');
	}else{
		$('.a'+id).removeAttr('checked');
	}	
}
$('#btn').click(function(){
	var name=$("input[name='name']").val();
	if($.trim(name) == '') {
		alert('请输入角色名称');
		return false;
	}
	var power="";
	var f='';
	$('input[name="power[]"]:checked').each(function(){
		if($(this).attr('checked') == 'checked') {
			power+=f+$(this).val();
			f=",";
		}

	})
	var id=$("input[name='id']").val();
	$.ajax({
		url:'__ACTION__',
		data:{name:name,power:power,id:id},
		type:'post',
		dataType:'json',
		success:function(data) {
			if(data.msg == 1){
				alert("修改成功");
				window.location.href="{:U('Power/power')}";
			}else if(data.msg == 0){
				alert("修改失败");
				location.reload();
			}
		}
	})
})		
</script>
</body>
</html>