<html class="off">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__COMMON__css/style.css">
<title>产品中心</title>
</head>
<body scroll="no" style="overflow: hidden;">
<div id="content">
	<div class="right_main">
		<div id="J_rframe" class="rframe_b" style="height: 1000px;">
			<div class="subnav">
				<div class="content_menu ib_a blue line_x"><a class="add fb J_showdialog" href="{:U('Procate/addprocate')}"><em>添加产品类型</em></a></div>
			</div>
			<div class="pad_lr_10">
				<div class="J_tablelist table_list">
					<table width="100%" cellspacing="0" border=1>
						<thead>
							<tr>
								<th width="5%"><span tdtype="order_by" fieldname="id">ID</span></th>
								<th align="center" width="20%">产品类型名称</th>
								<th width="20%">产品操作</th>
							</tr>
						</thead>
						<tbody>
						<volist name="data" id="vo">
							<tr>
								<td align="center" >{$vo.id}</td>
			 					<td align="float-left" >{$vo.name}</td>
								<td align="center">
								<a class="J_showdialog" href="{:U('Procate/edit',array('id'=>$vo.id))}">编辑</a> |<a href="javascript:del({$vo.id})">删除</a></td>
							</tr>
							<foreach name="vo['son']" item="vo2">
							<tr>
								<td align="center" >{$vo2.id}</td>
			 					<td align="center" >{$vo2.name}</td>
								<td align="center">
								<a class="J_showdialog" href="{:U('Procate/edit',array('id'=>$vo2['id']))}">编辑</a> |<a href="javascript:del({$vo2.id})">删除</a></td>
							</tr>
							</foreach>
							</volist>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__COMMON__js/jquery.js"></script>
<script>
function del(id){
	if(confirm("你确定要删除该数据吗？？")) {
		$.post('{:U("Procate/del")}',{id:id},function(data){
			if(data==2){
				alert ('该分类下有商品，不能删除!!');
			}else if(data==1){
				alert ('该分类下有子集，不能删除!!');
			}else if(data==0){
				alert ('恭喜您！删除成功!!');
				location.reload();
			}else if(data==-1){
				alert ('对不起，删除失败!!');
				location.reload();
			}else if(data==-2){
				alert ('不是ajax请求过来数据!!');
				location.reload();
			}
		},'json')
	}
	
}

</script>
</body>
</html>